<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Joosep Madar, veebiprogrammeerimine 2023</title>
</head>
<body>
	<img src="/banner/banner.png" alt="Veebiprogrammeerimise kursuse bänner">
	<h1>Uudised</h1>
	<hr>
	<ul>
		<li><a href="/news">Uudiste avaleht</a></li>
		<li><a href="/news/read">Uudiste lugemine</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Viimased uudised</h2>
	<ul>
        <% newsList.forEach(news => { %>
            <li><a href="/news/read/<%= news.id %>"><%= news.title %></a></li>
        <% }); %>
    </ul>
</body>
</html>
